extends layout 

block styles
  link(rel="stylesheet" href="/css/medico.css")

block content  
  h1 Bienvenido, #{user.nombre}  
  
  nav  
    ul  
      li  
        a(onclick="abrirAgenda(); return false;") Ver Agenda  
       
  main  
    section.accesos-rapidos  
      h2 Accesos Rápidos  
      div.botones-rapidos  
        if citas && citas.length > 0  
          button.btn-rapido(onclick=`window.open('/medicos/iniciar-consulta/${citas[0].idCita}', 'Iniciar Consulta', 'width=800,height=600,resizable=yes,scrollbars=yes')`)  
            img(src="/images/btnIniCon.png" alt="Iniciar Consulta - #{citas[0].nombrePaciente}")  
        else  
          button.btn-rapido(onclick="abrirSobreturno()")  
            img(src="/images/btnAtenderSobreturno.png" alt="Atender Sobreturno")  
          label(for="buscarPacienteSobreturno") Buscar Paciente:  
          input(type="text" id="buscarPacienteSobreturno" placeholder="Ingresa nombre del paciente" autocomplete="off")  
          ul#listaResultadosSobreturno  
          button.btn-rapido(onclick="cargarHistorialSobreturno()")  
            img(src="/images/btnAtenderSobreturno.png" alt="Atender Sobreturno")  

        if pacientes && pacientes.length > 0  
          button.btn-rapido(onclick="abrirHistorial()")  
            img(src="/images/btnHDA.png" alt="Historial de Atenciones")  
        else  
          p No hay pacientes disponibles.  

        button.btn-rapido(onclick="abrirVentana('/medicos/registrar-evolucion', 'Registrar Evolución')")  
          img(src="/images/btnREvo.png" alt="Registrar Evolución")  

        button.btn-rapido(onclick="abrirVentana('/medicos/agregar-diagnostico', 'Agregar Diagnóstico')")  
          img(src="/images/btnAgDiag.png" alt="Agregar Diagnóstico")  

        button.btn-rapido(onclick="abrirVentana('/medicos/agregar-alergias', 'Agregar Alergias')")  
          img(src="/images/btnAGALE.png" alt="Agregar Alergias")  

        button.btn-rapido(onclick="abrirVentana('/medicos/registrar-antecedentes', 'Registrar Antecedentes')")  
          img(src="/images/btnREGant.png" alt="Registrar Antecedentes")  

        button.btn-rapido(onclick="abrirVentana('/medicos/registrar-habitos', 'Registrar Hábitos')")  
          img(src="/images/btnREHABB.png" alt="Registrar Hábitos")  

        button.btn-rapido(onclick="abrirVentana('/medicos/medicamentos', 'Registrar Medicamentos')")  
          img(src="/images/btnMEENus.png" alt="Registrar Medicamentos en Uso")  

        button.btn-rapido(onclick="abrirVentana('/medicos/template-nota', 'Template Nota')")  
          img(src="/images/templatebtn.png" alt="Usar Template de Nota Clínica")  
  
  script.  
    window.user = {  
      id: #{user.id},  
      nombre: '#{user.nombre}',  
      role: '#{user.role}'  
    };  
    window.clinicaSeleccionada = #{idClinica};  
  
  script(src="/js/escritorioMedico.js")

  // Chatbot Botpress
  script(src="https://cdn.botpress.cloud/webchat/v2.2/inject.js")
  script(src="https://files.bpcontent.cloud/2025/02/10/15/20250210150452-T5Q4WO6D.js")
  script(src="/js/chatbot.js")
