extends layout

block content
  h1 Bienvenido, #{user.username} (Administrador)
  p Aquí puedes gestionar configuraciones administrativas.

  // Formulario para agregar horario libre
  h2 Agregar Horario Libre
  form(action="/admin/agregar-horario-libre" method="POST")

    .form-group
      label(for="clinicaSelector") Seleccionar Clínica:
      select(name="idClinica" id="clinicaSelector" required)
        option(value="") -- Selecciona una clínica --
        each clinica in clinicas
          option(value=clinica.idClinica) #{clinica.nombre}

    .form-group
      label(for="especialidadSelector") Especialidad:
      select(name="especialidadSelector" id="especialidadSelector" required)
        option(value="") -- Selecciona una especialidad --
        each especialidad in especialidades
          option(value=especialidad.nombre) #{especialidad.nombre}

    .form-group
      label(for="idMedico") Médico:
      select(name="idMedico" id="idMedico" required)
        option(value="") -- Selecciona un médico --

    .form-group
      button(type="button" id="verHorariosButton") Ver Horarios del Médico

    .form-group
      label(for="fechaHora") Fecha y Hora:
      input(type="datetime-local" name="fechaHora" required)
    button(type="submit") Agregar Horario Libre

  // Botones adicionales para funciones administrativas
  h2 Funciones Administrativas

  .form-group
    button(type="button" onclick="window.location.href='/admin/formulario-registrar-usuario'") Registrar Usuario

  .form-group
    button(type="button" onclick="window.location.href='/admin/formulario-asignar-clinica'") Asignar Clínica a Médico

  .form-group
    button(type="button" onclick="window.location.href='/admin/manejar-horarios-libres'") Manejar Horarios Libres de Médicos

  .form-group
    button(type="button" onclick="window.location.href='/admin/pacientes-pendientes'") Ver Pacientes Pendientes de Confirmación

  .form-group
    button(type="button" onclick="window.location.href='/admin/ver-medicos'") Ver Médicos

  // Referencia al archivo de script externo
  script(src="/medico-selection.js")
