extends layout

block content
  h1 Bienvenido, #{user.nombre}
  nav
    ul
      li
        a(href="/medicos/#{user.id}/agenda") Ver Agenda
      li
        a(href="/historias") Historial Clínico
      li
        a(href="/logout") Cerrar Sesión

  main
    section.accesos-rapidos
      h2 Accesos Rápidos
      div.botones-rapidos

        //- Botón para abrir la agenda del día en una nueva ventana emergente
        button.btn-rapido(onclick=`window.open('/medicos/${user.id}/agenda-dia', 'Agenda del Médico', 'width=800,height=600,resizable=yes,scrollbars=yes')`)
          img(src="/images/btnConADD.png" alt="Consultar Agenda del Día")


          
        button.btn-rapido(onclick=`window.open('/medicos/${user.id}/filtrar-turnos', 'Filtrar Turnos por Fecha', 'width=800,height=600,resizable=yes,scrollbars=yes')`)
          img(src="/images/btnfiltrPF.png" alt="Filtrar Turnos por Fecha")

          
        button.btn-rapido(onclick="window.location.href='/medicos/iniciar-consulta'") 
          img(src="/images/btnIniCon.png" alt="Iniciar Consulta")

        button.btn-rapido(onclick="window.location.href='/medicos/historial'") 
          img(src="/images/btnHDA.png" alt="Historial de Atenciones")

        button.btn-rapido(onclick="window.location.href='/medicos/registrar-evolucion'") 
          img(src="/images/btnREvo.png" alt="Registrar Evolución")

        button.btn-rapido(onclick="window.location.href='/medicos/agregar-diagnostico'") 
          img(src="/images/btnAgDiag.png" alt="Agregar Diagnostico")

        button.btn-rapido(onclick="window.location.href='/medicos/agregar-alergias'") 
          img(src="/images/btnAGALE.png" alt="Agregar Alergias")

        button.btn-rapido(onclick="window.location.href='/medicos/registrar-antecedentes'") 
          img(src="/images/btnREGant.png" alt="Registrar Antecedentes")

        button.btn-rapido(onclick="window.location.href='/medicos/registrar-habitos'") 
          img(src="/images/btnREHABB.png" alt="Registrar Hábitos")

        button.btn-rapido(onclick="window.location.href='/medicos/medicamentos'") 
          img(src="/images/btnMEENus.png" alt="Registrar Medicamentos en Uso")

        button.btn-rapido(onclick="window.location.href='/medicos/template-nota'") 
          img(src="/images/templatebtn.png" alt="Usar Template de Nota Clínica")
        
    
