extends layout.pug

block content
  h1 Listado de Pacientes
  form(action="/patient/search" method="GET")
  input(type="text" id="buscarPaciente" name="query" placeholder="Buscar paciente por apellido") 
  a(href="/patients/new" class="btn btn-primary") Nuevo Paciente
   


  table
    thead
      tr
        th ID
        th Nombre
        th Fecha de Nacimiento
        th DNI
        th Dirección
        th Teléfono
        th Acciones
    tbody
      each patient in patients
        tr
          td= patient.idPaciente
          td= patient.nombre
          td= patient.fechaNacimiento
          td= patient.dni
          td= patient.direccion
          td= patient.telefono
          td
            a(href=`/patients/edit/${patient.idPaciente}`) Editar
            |  
            a(href=`/patients/delete/${patient.idPaciente}` onclick="return confirm('¿Estás seguro de que deseas eliminar a este paciente?');") Eliminar
