extends layout

block styles
  link(rel="stylesheet" href="/css/perfilPaciente.css")

block content
  h1 Perfil de Paciente
  .botones-acciones
    button(type="button" onclick="window.location.href='/turnos/mis-turnos'")
      img(src="/images/pavermisturnos.png" alt="Ver Mis Turnos")
    button(type="button" onclick="window.location.href='/historias'")
      img(src="/images/pahistoclinico.png" alt="Ver Mi Historial Clínico")
    button(type="button" onclick=`window.location.href='/citas/new?estado=En proceso&idPaciente=${paciente.idPaciente}'`)
      img(src="/images/pasacaturnpre.png" alt="Sacar Turno Preregistro")

  h2 Información del Paciente
  div
    p
      strong Nombre: 
      | #{paciente.nombre}
    p
      strong Fecha de Nacimiento: 
      | #{new Date(paciente.fechaNacimiento).toLocaleDateString('es-ES')}
    p
      strong DNI: 
      | #{paciente.dni}
    p
      strong Dirección: 
      | #{paciente.direccion}
    p
      strong Teléfono: 
      | #{paciente.telefono}

    p
      a.btn.btn-primary(href=`/pacientes/edit/${paciente.idPaciente}`) Editar Información

  #chatBotModal(style="display:none;")
    .modal-content
      h2 Chat con TurnoExpress
      #chatHistory
        p Hola, ¿en qué puedo ayudarte?
      form(action="#" id="chatForm")
        input(type="text" id="userMessage" placeholder="Escribe tu mensaje...")
        button(type="submit") Enviar

  script(src="https://cdn.botpress.cloud/webchat/v2.2/inject.js")
  script(src="https://files.bpcontent.cloud/2025/02/10/15/20250210150452-T5Q4WO6D.js")
  script(src="/js/chatbot.js")
