doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Perfil de Paciente
    link(rel="stylesheet" href="/css/style.css")
  
  body
    header
      h1 Perfil de Paciente
      nav
        ul
          li
            a(href="/turnos/mis-turnos") Ver Mis Turnos
          li
            a(href="/historias") Ver Mi Historial Clínico
          li
            // Enlace para sacar turno con evento click
            a.btn#sacarTurno(href=`/citas/new?estado=En proceso&idPaciente=${paciente.idPaciente}`) Sacar Turno Preregistro
          li
            a(href="/logout") Cerrar Sesión

    main
      h2 Información del Paciente
      div
        p
          strong Nombre:
          | #{paciente.nombre}
        p
          strong Fecha de Nacimiento:
          | #{new Date(paciente.fechaNacimiento).toLocaleDateString('es-ES')}
        p
          strong DNI:
          | #{paciente.dni}
        p
          strong Dirección:
          | #{paciente.direccion}
        p
          strong Teléfono:
          | #{paciente.telefono}
      
        // Botón para editar información del paciente
        p  
          a.btn.btn-primary(href=`/pacientes/edit/${paciente.idPaciente}`) Editar Información

    footer
      p Derechos reservados © Fernandez Jorge #{new Date().getFullYear()}

    // Agregar scripts
    script.
      // Agregar evento a "Sacar Turno"
      document.addEventListener('DOMContentLoaded', function() {
        const sacarTurnoLink = document.getElementById('sacarTurno');
        if (sacarTurnoLink) {
          sacarTurnoLink.addEventListener('click', function(event) {
            event.preventDefault();
            window.open(sacarTurnoLink.href, 'SacarTurno', 'width=800,height=600,resizable=yes,scrollbars=yes');
          });
        }
      });
