extends layout

block content
  link(rel="stylesheet" href="/css/style.css")
  h2 Horarios Disponibles para el Dr. #{nombreMedico}

  // Mostrar mensaje de éxito o error si existen
  if message
    .alerta.alerta-exito= message
  if errorMessage
    .alerta.alerta-error= errorMessage

  script.
    console.log("Renderizando página de horarios libres para el médico con ID:", !{idMedico});
    console.log("Nombre del médico:", !{nombreMedico});
    console.log("ID del médico en el formulario para agregar horario:", document.querySelector('input[name="idMedico"]').value);

  // Formulario para agregar un nuevo horario libre
  form(action="/admin/agregar-horario-libre" method="POST" class="form-agregar-horario")
    input(type="hidden" name="idMedico" value=idMedico) 

    .form-group
      label(for="clinica") Seleccionar Clínica:
      select(name="idClinica" required)
        option(value="" selected disabled) -- Selecciona una clínica --
        each clinica in clinicas
          option(value=clinica.idClinica) #{clinica.nombre}

    .form-group
      label(for="fecha") Fecha:
      input(type="date" name="fecha" required)

    .form-group
      label(for="horaInicio") Hora de Inicio:
      input(type="time" name="horaInicio" required)

    .form-group
      label(for="horaFin") Hora de Fin:
      input(type="time" name="horaFin" required)

    button(type="submit") Agregar Horario Libre

  // Formulario para repetir los horarios
  h2 Repetir Horarios
  form(action="/admin/repetir-horarios" method="POST" class="form-repetir-horarios")
    input(type="hidden" name="idMedico" value=idMedico) 
    .form-group
      label(for="fechaInicio") Fecha de Inicio:
      input(type="date" name="fechaInicio" required)

    .form-group
      label(for="fechaFin") Fecha de Fin:
      input(type="date" name="fechaFin" required)

  
    button(type="submit") Repetir Horarios

  .containeradm
    script.
      console.log("Horarios libres cargados:", !{JSON.stringify(horariosLibres)});
      console.log("ID del médico en la vista de eliminación de horario:", !{idMedico});

    // Comprobamos si hay horarios libres
    if horariosLibres.length
      // Filtramos los horarios que ya pasaron respecto a la hora actual
      - var horaActual = new Date().getHours();
      - horariosLibres = horariosLibres.filter(horario => {
      -   var horaHorario = parseInt(horario.hora.split(':')[0]);
      -   return horaHorario > horaActual; 
      - });

      // Verificamos si después de filtrar hay horarios disponibles
      if horariosLibres.length === 0
        p No hay horarios disponibles para el médico #{nombreMedico} en el día de hoy.

      each horario in horariosLibres
        .targetaH
          .infoh
            h5 Fecha:
            // Convertir la fecha al formato DD/MM/YYYY
            - var formattedFecha = new Date(horario.fecha).toLocaleDateString('es-AR', { day: '2-digit', month: '2-digit', year: 'numeric' });
            p= formattedFecha
            h5 Hora:
            p= horario.hora
            // Mostrar Estado y Tipo de Turno solo si el rol no es administrador
            if role !== 'administrador'
              
          form(action=`/admin/eliminar-horario-libre?fecha=${encodeURIComponent(horario.fecha)}&hora=${encodeURIComponent(horario.hora)}` method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este horario?');")
            input(type="hidden" name="idMedico" value=idMedico)
            button(type="submit" class="BotnEli") Eliminar
    else
      p No hay horarios libres para mostrar.
